@import 'react-slideshow-image/dist/styles.css';
.onboarding {
    display: flex;
    width: 100%;
    position: absolute;
    height: 100%;
    z-index: 0;
}

.onboarding-entryMessage {
    width: 68%;
}

.onboarding-entryMessageimage {
    display: flex;
    align-items: center;
    justify-content: center;
}

.onboarding-detailsMobileLogo {
    display: none;
}

.onboarding-entryMessageTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Biko;
    font-size: 26px;
    font-weight: 700;
    padding: 20px 0 30px 0;
    color: var(--blackFontClr);
}

.onboarding-entryMessageBody {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0 20% 70px 20%;
    color: var(--greyFont);
    line-height: 28px;
}

.onboarding-detailsContainer {
    width: 32%;
    background-color: var(--primaryClr);
}

button.nav.default-nav {
    display: none !important;
}

.react-slideshow-container+ul.indicators {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px !important;
}

.indicator {
    cursor: pointer;
    /* padding: 10px; */
    text-align: center;
    /* border: 1px #666 solid; */
    margin: 0;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    background-color: #d8d8d8;
}

.indicator.active {
    width: 32px;
    background-color: var(--secondaryClr);
}

.onboarding-entryMessageSlider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    height: auto;
}

.onboarding-detailsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.onboarding-detailsBody {
    margin-top: 60px;
    height: auto;
    overflow-y: auto;
}

@media screen and (max-width: 940px) {
    .onboarding-detailsMobileLogo {
        display: flex;
        float: inherit;
        width: 100%;
        padding: 0 24%;
    }
    .onboarding-detailsMobileLogoIcon {
        transform: scale(0.7);
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .onboarding-detailsMobileLogoText {
        transform: scale(0.7);
        /* display: flex; */
        position: absolute;
        /* justify-content: flex-start; */
        top: 60px;
        left: 58px;
    }
    .onboarding-detailsLogo {
        display: none;
    }
    .onboarding-entryMessage {
        display: none;
    }
    .onboarding-detailsContainer {
        width: 100%;
        background: #ffffff;
    }
    .onboarding-detailsBody {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .onboarding-detailsMobileLogo {
        padding: 0 10%;
    }
}