.personaldetails-outerRectangle {
  /* width: 464px; */
  /* height: 800px; */
  /* background-color: rgb(241, 220, 220); */
  padding: 0 10%;
}

.personaldetails-innerRect {
  /* padding: 2rem 3rem; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.personalDetails-heading {
  font-size: 32px;
  font-weight: 700;
}

.personalDetails-heading2 {
  padding-top: 1rem;
  font-size: 20px;
  color: #f7f0f0b5;
}

/* .inputFields {
    padding: 2rem 3rem;
}
   */
form {
  padding: 1rem 1rem;
}

.personal-details-form {
  padding: 1rem 1rem;
}

.personal-details-form label {
  display: block;
  transform: translate(0, -1.75rem);
  font-size: 16px;
  position: relative;
  line-height: 10px;
}

.PeronsalDetailsInput {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.25rem 0rem;
  border: none;
  border-bottom: 2px solid #ffffff58;
  transition: border-color 0.2s ease;
  background-color: transparent;
  color: var(--primaryFontClr);
  font-weight: 500;
  font-family: Avenir;
  font-size: 16px;
  margin-left: 5px;
}

.PeronsalDetailsInput:focus {
  outline: none;
  border-color: #6e8fca;
}

.persondetails-button {
  padding: 0.75rem 1.5rem;
  border: none;
  outline: none;
  background-color: #ee5c4d;
  color: var(--primaryFontClr);
  font-weight: bold;
  width: 100%;
  margin-top: 15px;
  border-radius: 6px;
}

.btn_info {
  height: 16px;
  width: 16px;
}

.personaldetail-form-error {
  color: rgb(255, 57, 57);
  font-size: 14px;
  width: 100%;
  line-height: 8pt;
  padding-left: 5px;
  margin-top: -3px;
}
.personalDetailtooltip {
  height: 16px;
  width: 16px;
  position: absolute;
  top: 0px;
  left: 80px;
  /* margin-left: 5px; */
}

.labelwithTooltip {
  position: relative;
  /* display: flex; */
}

#sadFace {
  width: 250px;
  color: #7a7a7a;
}

.PeronsalDetailsInput span p {
  color: #092963;
}

/* .personalDetailsPass
{
    position: relative;
} */

@supports (not (-ms-ime-align: auto)) {
  .personal-details-form label {
    color: #6e8fca;
    transform: translate(0rem, -1.9rem);
    transition: all 0.2s ease-out;
    padding-left: 3px;
  }

  .personal-details-form input:focus + label,
  .personal-details-form input:not(:placeholder-shown) + label {
    color: #6e8fca;
    transform: translate(0, -2.95rem);
  }
}

.personal-input {
  position: relative;
}

.personal-error-line {
  position: absolute;
  background-color: red;
  width: 100%;
  height: 2px;
  top: 52px;
  padding-left: 3px;
  left: 5px;
}

@media screen and (max-width: 940px) {
  .personalDetails-heading {
    color: var(--filterChipFontClr);
    font-family: Biko;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 35px;
    width: 100%;
    text-align: left;
    padding-top: 34px;
    padding-bottom: 10px;
  }
  .personalDetails-heading2 {
    color: var(--greyFont);
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 0;
    line-height: 20px;
    text-align: left;
    width: 100%;
    padding-bottom: 6px;
  }
  .personal-details-form {
    padding: 0;
  }
  .PeronsalDetailsInput {
    color: var(--drawerBlueClr);
    font-size: 18px;
    letter-spacing: 0.4px;
    line-height: 20px;
    border-bottom: 0.5px solid var(--drawerBlueClr);
  }
  .personal-details-form label {
    color: var(--greyFont);
  }
  .personal-details-form input:focus + label,
  .personal-details-form input:not(:placeholder-shown) + label {
    color: var(--greyFont);
  }
  .persondetails-button {
    margin-top: 48px;
  }
}
