.subcatNocourse {
    font-size: 18px;
    /* text-align: center; */
    /* color: red; */
    margin-bottom: 10px;
}
.subcategoryDesignbtn {
    background: #fcbe4b;
    mix-blend-mode: normal;
    border-radius: 6px;
    border: none;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
.mobileSubcategory
{
    display: none;
}
@media only screen and (max-width: 800px) 
{
.mobileSubcategory
{
    display: flex;
    display: flex;
    color: #2B2B2B;
    font-family: Biko;
    font-size: 26px;
    font-weight: bold;
    
}
}