.drawer-profile {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.drawer-profile-header {
  background-color: var(--drawerBlueClr);
  padding: 30px;
}
.drawer-profile-clear {
  cursor: pointer;
}
.settings-settings-text {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  color: var(--primaryFontClr);
  padding-top: 0.8em;
}
.settings-body {
}
.settings-notification {
  display: flex;
  flex-direction: column;
  margin: 2em 2em 0em 2em;
  border-bottom: 1px solid #042c5c60;
}
.settings-notification-text-icon {
  display: flex;
}
.settings-notification-text {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: var(--notificationFont);
  margin-left: 0.7em;
}
.settings-push-notification {
  display: flex;
  justify-content: space-between;
  margin-left: 2.3em;
  margin-top: 1em;
}
.settings-push-notification p {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: var(--notificationFont);
}
.react-switch-1 {
  vertical-align: middle;
  margin-left: 4px;
}
.react-switch-2 {
  vertical-align: middle;
  margin-left: 4px;
}
.settings-notification-sound {
  display: flex;
  justify-content: space-between;
  margin-left: 2.3em;
  margin-top: 1em;
  margin-bottom: 1.3em;
}
.settings-notification-sound p {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: var(--notificationFont);
}
.settings-privacy-policy {
margin:0.5em 1.5em 0.5em 2em;
  padding: 0.5em;
  display: flex;
  border-bottom: 1px solid #042c5c60;
  justify-content: space-between;
  align-items: center;
}
.privacy-policy-text-icon {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.privacy-policy-text-icon p {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: var(--notificationFont);
}
.terms-text-icon {
  width: 55%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.terms-text-icon p {
  color: var(--notificationFont);
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}
.settings-terms-services {
  display: flex;
  border-bottom: 1px solid #042c5c60;
  margin: 0.5em 1.5em 1.5em 2em;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em;
}
