.drawer-profile-notify {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.drawer-profile-header-notify {
  background-color: var(--drawerBlueClr);
  padding: 30px;
}

.drawer-profile-name-notify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 14px 0 30px 0;
}

.profile-logo-name {
  display: flex;
}

.drawer-profile-edit {
  cursor: pointer;
}

.profile-img-frame {
  background-color: white;
  width: 78px;
  height: 78px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}

.profile-img-frame img {
  width: 70px;
  height: 70px;
  background-position: center;
  background-size: cover;
}

.profile-image-name {
  color: white;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.profile-image-name .name {
  font-weight: 700;
  font-size: 22px;
}

.profile-image-name .role {
  margin-top: 5px;
  font-weight: 700;
  font-size: 18px;
}

.drawer-profile-profile-notify {
  font-size: 28px;
  font-weight: 700;
  color: white;
}

.drawer-profile-clear-notify {
  cursor: pointer;
}

.notifyContent {
  width: 100%;
}

.notifyImage {
  height: 43px;
  width: 43px;
  /* padding-left: 12px; */
  /* padding-top: 16px; */
  margin-top: 10px;
  margin-left: 10px;
}

.notifydata {
  padding-left: 16px;
  padding-top: 10px;
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #373737;
  padding-right: 20px;
}

.notifiedTime {
  padding-left: 17px;
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
  color: #373737;
}

.notificationUnread {
  margin-bottom: 10px;
  background-color: rgba(240, 248, 255, 0.53);
  display: flex;
  position: relative;
  cursor: pointer;
}
.unread-dot {
  position: absolute;
  left: 95.65%;
  top: 36px;
  background-color: #ee5c4d;
  border-radius: 25px;
  width: 10px;
  height: 10px;
}
.unread-dot-read {
  display: none;
}
.notificationRead {
  margin-bottom: 10px;
  background-color: #ffffff;
  display: flex;
  cursor: pointer;
}

.notifyImage > img {
  border-radius: 50%;
  height: 43px;
  width: 43px;
}
.arrow-left-notify-mobile {
  display: none;
}
.drawer-profile-body-notify {
  overflow: scroll;
}

.noNotification-section {
  font-family: "Biko";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  color: #747474;
  text-align: center;
  padding-top: 35px;
  /* width: 100%; */
}
