.login-password {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-password-heading {
    color: var(--primaryFontClr);
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.login-password-content {
    margin-top: 20px;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.326);
    font-weight: 700;
    text-align: center;
    width: 63%;
}

.login-password-form {
    padding: 0 7%;
    width: 100%;
    margin-top: 40px;
}

.login-password-label {
    display: block;
    transform: translate(0, -1.75rem);
    font-size: 18px;
}

.login-input {
    width: 100%;
    margin-top: 1.5rem;
    padding: 0.25rem;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, 0.195);
    transition: border-color 0.2s ease;
    color: white;
    font-size: 18px;
}

.login-input:focus {
    outline: none;
}

.reset-password {
    margin-top: 40px;
    width: 100%;
    height: 44px;
    border-radius: 6px;
    background-color: var(--secondaryClr);
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.reset-password:disabled{
    background-color: #ee5d4d72;
}

@supports (not (-ms-ime-align:auto)) {
    .login-password-label {
        color: #6E8FCA;
        transform: translate(0rem, -1.9rem);
        transition: all 0.2s ease-out;
    }

    .login-input:focus+label,
    .login-input:not(:placeholder-shown)+label {
        color: #6E8FCA;
        transform: translate(0, -2.95rem);
    }
}

.password-error{
    color: red;
    margin-top: -15px;
    font-size: 12px;
}

.input{
    position: relative;
}

.error-line{
    position: absolute;
    background-color: red;
    width: 100%;
    height: 2px;
    top: 52px;
}