.drawer-profile-terms {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.drawer-profile-header-terms {
  background-color: var(--drawerBlueClr);
  padding: 30px;
}
.drawer-profile-clear-terms {
  cursor: pointer;
}
.terms-services-text p {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  color: var(--primaryFontClr);
  padding-top: 0.8em;
}
.terms-phrases {
  margin: 6% 6%;
  overflow: scroll;
}

.terms-para{
  margin-bottom: 1em;
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #373737;
  text-align: justify;
}

