.certificate-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.certificate-headerTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
  color: var(--primaryFontClr);
}

.certificate-headerDownload {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.certificate > img {
  height: 60vh;
}
