.choice-your-course-heading {
  font-family: 'Biko';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #7a7a7a;
}

.choice-your-course-categories-Body {
  display: flex;
  gap: 24px;
  flex-direction: row;
  padding-bottom: 20px;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 1em;
}

.choice-your-coursecategories-Parent {
  display: flex;
  mix-blend-mode: normal;
  border: 1px solid #e4e4e4;
  border-radius: 6px;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}
.choice-your-coursecategories-Namee {
  padding-left: 1rem;
}

.choice-your-course-categories-title {
  font-family: 'Biko';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 50px;
  color: #000000;
  padding-top: 1.5rem;
}

.choice-your-coursecategories-Name {
  padding-left: 0.5rem;
  width: max-content;
  display: flex;
  /* text-align: center; */
  align-items: center;
}

.choice-your-course-allcourse {
  font-family: 'Biko';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  /* line-height: 50px; */
  color: #000000;
  padding-top: 3rem;
}

.choice-your-course-card {
  padding-top: 20px;
  display: flex;
}

.choice-your-coursesubcategory-image {
  background: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  /* height: 183px; */
  /* width: 100%; */
  height: auto;
  width: 100%;
  flex-basis: 24%;
  margin-bottom: 30px;
  cursor: pointer;
}
.choice-your-coursesubcategory-image:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.05);
  -webkit-box-shadow: 1px 1px 24px 0px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 1px 1px 24px 0px rgba(0, 0, 0, 0.44);
  box-shadow: 1px 1px 24px 0px rgba(0, 0, 0, 0.44);
}

.choice-your-course-choice1 {
  /* display: grid; */
  display: flex;
  flex: 100% 1;
  gap: 1%;
  flex: 100% 1;
  flex-wrap: wrap;
}

.choice-your-coursesubcategory-title {
  font-family: 'Proxima Nova Soft';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* line-height: 26px; */
  padding-left: 1rem;
  padding-top: 0.8rem;
  /* or 144% */

  color: #111111;
}

.choice-your-coursechapter {
  font-family: 'Proxima Nova Soft';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #7a7a7a;
  /* padding-left: 1rem; */
  /* padding-bottom: 1rem; */
}

.choice-your-coursesubcategory-image img {
  width: 100%;
  height: 188px;
  /* border-radius: 5px; */
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.choice-your-cahpbtn {
  /* position: relative; */
  display: flex;
  padding: 5px 1rem;
  width: 100%;
  justify-content: space-between;
}

.choice-yourcourse-designbtn {
  background: #fcbe4b;
  mix-blend-mode: normal;
  border-radius: 6px;
  border: none;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}
.choice-your-coursecategories-Icon img {
  height: 30px;
  width: 30px;
}

@media only screen and (max-width: 800px) {
  .choice-your-course-categories-Body {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  /* .choice-your-course-choice1 {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }

    .choice-your-coursesubcategory-image img {
        width: 290px;
    }  */

  .choice-your-coursesubcategory-image {
    display: flex;
    flex-direction: row;
  }
  .choice-your-cahpbtn {
    flex-direction: column;
  }
  .choice-your-course-categories-Body {
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .choice-your-course-choice1 {
    /* display: flex; */
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .choice-your-coursesubcategory-image {
    box-shadow: none;
    margin-bottom: 10px;
  }

  .choice-your-coursesubcategory-image img {
    width: 90px;
    height: 90px;
    border-radius: 6px;
  }
  .choice-yourcourse-designbtn {
    width: 110px;
    height: 29px;
    margin-top: 3px;
  }
  .choice-your-coursesubcategory-title {
    padding-top: unset;
  }
  .choice-your-course-heading {
    color: #2b2b2b;
    font-family: Biko;
    font-size: 26px;
    font-weight: bold;
    /* letter-spacing: 0; */
    /* line-height: 35px; */
  }
}

.paginationBtns {
  margin-top: 45px;

  display: flex;
  align-items: center;
  font-size: 24px;
  justify-content: center;
  color: var(--primaryClr);
}

.paginationBtns button {
      cursor: pointer;
    background: var(--secondaryClr);
    font-size: 24px;
    height: 56px;
    width: 56px;
    color: var(--primaryFontClr);
    border: none;
    border-radius: 50%;
    /* padding: 13px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.paginationBtns button:disabled {
  opacity: 0.5;
  cursor: no-drop;
}
