.ongoing-section {
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
}

.ongoingSectionMap {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.ongoing-parent {
  /* margin-top: 1em; */
  margin-top: 1em;
  flex-basis: 32.3%;
}

.ongoing-images {
  position: relative;
  cursor: pointer;
}

.ong-overlay {
  background-color: rgba(0, 0, 0, 0.261);
  position: absolute;
  top: 0;
  bottom: 4px;
  left: 0;
  right: 0;
  border-radius: 10px;
}

.ong-img {
  border-radius: 10px;
  height: 241px;
  width: 100%;
  object-fit: cover;
  /* width: 350px; */
}
.ongoing-images:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.05);
}

.chap-progress {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 15px;
  margin-left: 1em;
}

.Ongoing-text {
  padding-bottom: 80px;
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

.chap-descp p:nth-child(1) {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}

.chap-descp p:nth-child(2) {
  font-family: "Proxima Nova Soft";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.btn-continue-ongoing {
  background-color: #ec5d52;
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  padding: 0.7em 3em;
  position: absolute;
  bottom: 15px;
  left: 15px;
  cursor: pointer;
}

.ogoingNotEnrolled {
  font-family: 'Biko';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  /* line-height: 35px; */
  text-align: center;
  color: #747474;
  /* margin-top: 300px; */
  text-align: center;
  width: 100%;
}

.ongoingEmptyImage {
  text-align: center;
  width: 100%;
  padding-top: 99px;
}