.password-changed {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password-changed-content {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    padding-top: 75px;
}


.password-changed-heading {
    font-size: 46px;
    font-weight: 700;
    font-family: Biko;
    margin-top: 55px;
}

.password-changed-description {
    margin-top: 30px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 700;
}

.login{
    color: var(--secondaryClr);
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 70px;
    cursor: pointer;
}