* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Proxima Nova Soft';
}

@font-face {
  font-family: Proxima Nova Soft;
  src: url(./assets/Fonts/ProximaNovaSoft-Regular.otf);
}

@font-face {
  font-family: Avenir;
  src: url(./assets/Fonts/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: Biko;
  src: url(./assets/Fonts/Biko_Regular.otf);
}

:root {
  --primaryClr: #092963;
  --secondaryClr: #ee5c4d;
  --primaryFontClr: #ffffff;
  --secondaryFontClr: #ffffff9c;
  --blackFontClr: #2b2b2b;
  --blueFontClr: #0085ff;
  --greyFont: #7a7a7a;
  --labelClr: #617fb6;
  --error: #ea2626;
  --success: #12a73b;
  --correctGreen: #1eab0d;
  --inputBlue: #123779;
  --blueFont: #6e8fca;
  --drawerBlueClr: #042c5c;
  --profileBlueCLr: #36b6f1;
  --btnClr: #244f9c;
  --chipFontclr: #373737;
  --filterChipFontClr: #2b2b2b;
  --black: #000000;
  --chipBorder: #e4e4e4;
  --blueFont: #2bb5f4;
  --indexClr: #7a7a7a;
  --selectedRed: #ec5d52;
  --yellowClr: #fcbe4b;
  --resultFontClr: #111111;
}

body {
  min-height: 100vh;
  z-index: -9999;
}

.app {
  min-height: 100vh;
  z-index: 0;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  width: 24px !important;
  z-index: 100;
}
