.ongoing-overview {
    display: flex;
    gap: 52px;
}


.ongoing-section-1 {
    flex: 2;
}

.ongoing-section-video-player {
    position: relative;
    height: 550px;
    border-radius: 12px;

}

.ongoing-video-title-section {
    margin: 30px 0 20px 0;
    display: flex;
    justify-content: space-between;
}

.video-title {
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
}

.video-chapters {
    font-size: 16px;
    font-weight: 500;
}

.ongoing-video-category {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.catgry {
    background-color: var(--videoCatgryClr);
    width: 91px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    margin-left: 10px;
    flex-wrap: wrap;
}

.catgry p {
    font-weight: 400;
    font-size: 15px;
}


.react-player {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 12px;
    overflow: hidden;
}

.ongoing-course-desc-title {
    color: #2BB5F4;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 25px;
}

.ongoing-course-desc-content {
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
}

.ongoing-course-desc-content p {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.ongoing-course-desc-content label {
    color: red;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

.ongoing-course-desc-content input:focus~.ongoing-course-desc-content label {
    outline: -webkit-focus-ring-color auto 5px;
}

.ongoing-course-desc-content input:checked+p {
    -webkit-line-clamp: unset;
}

#expanded {
    display: none;
}

/* .ongoing-course-desc-content input:checked~label,
p:not(.truncated)~label {
    display: none;
} */

.ongoing-section-2 {
    flex: 1;
    border: 1px solid #F0F0F0;
    border-radius: 6px;
}

/* .ongoing-section-2 .ongoing-container-1 {
    margin: 0 30px;
} */

.tabs {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid #F0F0F0;
    width: 50%;
    height: 50px;
    margin: 0 30px;
}

.tab {
    padding: 15px 15px 13px 15px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: var(--greyFont);
}

.tab-content-1{
    /* padding: 0 30px; */
}

.tab-1-all{
    padding: 0 30px;
}

.tab-content-none{
    display: none;
}

.active-tab {
    border-bottom: 1px solid #EC5D52;
    color: #EC5D52;
    padding: 15px 15px 13px 15px;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
}

.overview-content {
    margin-top: 20px;
}

.overview-content-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

.course-points {
    display: flex;
    margin-bottom: 16px;
}

.course-points-img {
    margin-right: 15px;
}

.course-points-title {
    margin-top: 5px;
}

.overview-learn {
    margin-top: 30px;
    width: 80%;
}

.overview-learn-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

.learn-points {
    display: flex;
    margin-bottom: 16px;
}

.learn-points-img {
    margin-right: 15px;
}

.overview-req {
    margin-top: 30px;
    width: 80%;
}

.overview-req-title {
    font-size: 20px;
    font-weight: 600;
}

.overview-req ul {
    padding-left: 25px;
    margin-top: 15px;
}

.overview-req ul li {
    margin-top: 10px;
}

.overview-instructor {
    margin-top: 15px;
}

.overview-instructor-title {
    font-weight: 600;
    font-size: 20px;
}

.instructor-details {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.instructor-details img {
    width: 90px;
    height: 90px;
}

.instructor-details .profile-details {
    margin-left: 15px;
}

.instructor-details .profile-details .profile-name {
    font-size: 20px;
    font-weight: 500;
}

.instructor-details .profile-details .profile-occupation {
    font-size: 15px;
}

.instructor-about {
    margin-top: 20px;
    text-align: justify;
}

.instructor-about p{
    display: -webkit-box;
    -webkit-line-clamp: 12;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.instructor-about label {
    color: red;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

.instructor-about input:focus~.instructor-about label {
    outline: -webkit-focus-ring-color auto 5px;
}

.instructor-about input:checked+p {
    -webkit-line-clamp: unset;
}

.join-course{
    width: 100%;
    height: 53px;
    margin-top: 30px;
    cursor: pointer;
    background-color: var(--secondaryClr);
    font-size: 20px;
    font-weight: 600;
    border: none;
    outline: none;
    color: white;
}